*::after
*::before



/* empezamos limpiando todo a cero */
A
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* helpers */

html{
    font-size: 62.5%;
    background-color: #ffffff;
    padding: 0;
    
}
h1{
    font-size: 5rem;

}
h2{
    font-size: 4rem;
}
h4{
    font-size: 3rem;
}
h6{
    font-size: 1.5rem;
}
p{
    font-size: 18px;
    font-weight: 400;
}

