.contacto{
    &__conoce{
        display: flex;
        
        justify-content: space-around;
        
        padding: none;

        
        &__base{
            display: flex;
            flex-direction: row-reverse;
            margin: 0px 0px 0px 0px;
            text-align: start;
            
            &__texto{
                align-items: center;

            }
            &__imag{ width: 450px;
                
            }

        }

    }
    &__text{
        max-width: 550px;
        padding: 0px 0px 0px 5rem;
        color: #000000;
    }
    
}

