.propuesta{
    &__icono{
        
        height: 100px;

    }
    &__mision{
        text-align: center;
        background-image: linear-gradient(to right, rgba(130, 118, 218, 1), rgba(105, 88, 222, 1));
        border-radius: 15px;
        padding: 3rem;
        margin: 2rem;
        color: white;
        h4{
            font-size: 4rem;

        }
        p{
            font-size: 2rem;
            padding: 0;
        }
    }
}

