@import "utilities/_variables";

@import "views/_contacto";
@import "views/_costos";
@import "views/_ejemplos";
@import "views/_propuesta";

@import "layout/_footer";
@import "layout/_header";

@import "utilities/_mediaqueries";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800&display=swap');


*::after
*::before



/* empezamos limpiando todo a cero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* helpers */

html{
    font-size: 62.5%;
    background-color: #ffffff;
    padding: 0;
    
}
h1{
    font-size: 5rem;

}
h2{
    font-size: 4rem;
}
h4{
    font-size: 3rem;
}
h6{
    font-size: 1.5rem;
}
p{
    font-size: 18px;
    font-weight: 400;
}
/* ---------WITDH */
.max{
    &__w450{
        max-width: 450px;
    }
    &__w250{
        max-width: 250px;
    }
    &__w150{
        max-width: 150px;
    }
    &__h450{
        max-height: 450px;
    }
    &__h250{
        max-height: 250px;
    }
    &__h250{
        min-height: 250px;
    }

}
.min{
    &__w250{
        min-width: 250px;}
    &__w450{
        min-width: 450px;}
}


.degradez{
    background-image: linear-gradient(to right, rgba(130, 118, 218, 1), rgba(105, 88, 222, 1));
    border: 0px;
}

.fondo{
    background-color: #1e17df;
}

.color__blanco{
    color: #ffffff;
}

.fondo_blanco{
    background-color: #ffffff;
}
.color__primario{
    color: #302F4D;
}

.fuente__negra{
    color: #1a1a1a;
}


/* ----------- NAVBAR ----------- */
.navbar{
    &__menu__item{
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    }
    &__menu__item:hover{
        color: var(--alternative);
        background-color: white;
        border-radius: 1px;
    }
    &__menu__logo{
        width: clamp(150px, 89%,200px);
    }
    &__menu__icon{
        /* Da color al icono */
        border-color: var(--text-white);
        background-color: #ffffff;
    }
}





.seccion__principal{
/*     height: 80wv; */
    min-height: 250px;
    max-height: 650px;
    /* margin-right: 100px; */
    &__fondo{
            /* clip-path: polygon(100% 0, 100% 90%, 65% 100%, 0 90%, 0 0); */
    }

    
    
    &__text{
        max-width: 450px;
        margin: 0px 0px 0px 250px;
        color: #ffffff;
        h1{
            max-width: 350px;
            font-size: 50px;
        }
        p{
            max-width: 350px;
        }

    }
    &__index{
        max-width: 450px;

        p, h2{
            max-width: auto;
        } 


    }
    &__img{
        max-width: 450px;
        padding: 2rem 0rem 2rem 0rem;
        
        img{
            max-width: 450px;
            
        }
    }
    &_principal__img__costos{
        max-width: 450px;
        align-items: end;
    }
    
}

/* --------- pasos-------------*/
.pasos{
    padding: 5rem;    
    background-color: #eeecf8;

    h2{
        font-size: var(--text-medium);
        margin: 1rem 0rem 1rem 0rem;}
    
    &_items{
    padding: 2rem 0rem 2rem 0rem;
    }
    p{
        font-size: 1.5rem;

    }
}


/* ----------- costos----- */
.seccion_principal__img__costos{
    width: 50wv;
    min-width: 100px;
    max-width: 450px;
}

.costos{
    max-width: auto;

    &__tarjeta{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        
    }
    &__tarjeta__dimension{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 15vh;
        max-width: 500px;
        border-radius: 15px;        
    }
    &__tarjeta__mensual{
        text-align: center;
        margin: 15px;
        align-content: center;
    }
    &__font_size__h3{
        font-size: 4rem;
    }
    &__font_size__h5{
        font-size: 2rem;
    }
    &__tarjeta__anual{
        text-align: center;
        margin: 15px;
    }
    &__tarjeta__incluye {
        width: auto;
            

        text-align: center;
        align-items: center;
        padding: 25px;
        border-radius: 15px;
        margin: 0%;
    }
        h4{
            max-width: 250px;
            text-align: center;
            font-size: 5rem;
        }
        li{
            list-style: none;
            font-size: 2rem;
            max-width: 350px;
            text-align: start;}
        
    &__tarjeta__incluye h4{
        width: 100%;
        height: 100%;

        text-align: center;
    }
    &__tarjeta__base{
        border: none;
        width: auto;
        height: 100%;
        
        margin: 0%;
        padding: 0px;

    }
}




/* ---------------- Solicitar tu demo */
.solicitar{
    &__demo__base{
    align-items: center;
    padding: 15px;
    margin: 10px 0px 10px 0px ;
}
    &__demo__h5{
        text-align: center;
        margin: 0px;
        font-size: 2rem;
    }

}
.btn{
    text-align: center;
    color: var($accent);
    background-color: white;
    margin: 0px;
    font-size: 15px;

}

/* ------------ footer------------ */
.navba{
    &r__footer__logo{
        width: clamp(150px, 89%,200px);
        
    }
    &__newsletter {
    padding: 1rem 0rem 1rem 0rem;}
}

.footer{
    background-color: var(--text-white);
    color: var(--alternative);
    max-width: 100px;
    &__derechos{
        font-size: small;
        padding: 1rem;
        margin: 0px;
    }
    &__boton{
        border: 0px;
        max-width: 170px;
        color: #302F4D;
        font-weight: 600;
    }

    
}

/* ------------queries ------ */
@media screen  and (max-width:1400px){
    .seccion__principal{
           
            
            &__text{
                
                margin: 0px 0px 0px 100px;

                }
        
            }
    }


@media screen  and (max-width: 992px){
    .footer{
    &__img{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
        margin: 0%;
        padding-right: 60px;
    }
    &__newsletter{
        justify-content: center;

    }

    &__menu__icon{
        margin: 10px 0px 20px 0px;
    }
    &__mar_zero{
        padding: 0;
        
    }
    .costos{
        &__tarjeta__incluye h4{
            width: 100%;

        }
        &___tarjeta__base{
            width: 100%;
        }
    }
}


}

@media screen  and (max-width: 600px){
    .seccion__principal{
            &__text{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                max-width: 450px;
                margin: 0px 0px 0px 0px;
                color: #ffffff;
                h2{
                    max-width: 250px;
                    margin: 0px;
                    
                }
                p{
                    max-width: 250px;
                    
                }
        
            }
            &__img{
                max-width: 250px;
                padding: 2rem 0rem 2rem 0rem;
                img{
                    max-width: 250px;
                }
            }
            &_principal__img__costos{
                max-width: 450px;
                align-items: end;
            }
            
        }
    .costos{
        flex-direction: column;
        align-items: center;
    

    &__tarjeta{
        align-items: center;
    }
    &__tarjeta__incluye{
        padding: 0rem;
        
    }
    &__tarjeta__dimension{
        display: flex;
        align-items: center;
        
    }
    &__detalle{
        margin: 10px;
        padding: 5px;
    }
    &__demo__base{
        flex-direction: column;       
    }
    &__demo__h5{
        margin: 15px;
    }
}


}
@media screen  and (max-width: 400px){

    .flex__nav{
        flex-direction: column;
        
        
    }
    .navbar{
    &__menu__icon{
        margin: 10px 0px 35px 0px;
    }
    &__menu__logo{
        margin: 20px;
    }
    }
    .costos{
        
       
        &___tarjeta__incluye{
            width: 100%;
            padding: 5px;
        }
        &__tarjeta__base{
            padding: 5px;
        }
    }
    .solicitar{
            &__demo__base{
                flex-direction: column;
            }
        }
    


}
    


