@import "utilities/_variables";

@import "views/_contacto";
@import "views/_index";
@import "views/_costos";
@import "views/_ejemplos";
@import "views/_propuesta";

@import "layout/_footer";
@import "layout/_header";

@import "components/component";

@import "utilities/_mediaqueries";
@import "utilities/_clasesrapidas";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800&display=swap');


*::after
*::before



/* empezamos limpiando todo a cero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* helpers */

html{
    font-size: 62.5%;
    background-color: #ffffff;
    padding: 0;
    
}
h1{
    font-size: 5rem;

}
h2{
    font-size: 4rem;
}
h4{
    font-size: 3rem;
}
h6{
    font-size: 1.5rem;
}
p{
    font-size: 18px;
    font-weight: 400;
}
