.footer{
    background-color: var(--text-white);
    color: var(--alternative);
    max-width: 100px;
    &__derechos{
        font-size: small;
        padding: 1rem;
        margin: 0px;
    }
    &__boton{
        border: 0px;
        max-width: 130px;
        color: #302F4D;
        font-weight: 600;
    }
    &__boton:hover{
        border: 0px;
        max-width: 130px;
        color: white;
        background-color: $primary;
        font-weight: 400;
        
    }


    
}

/* ------------ footer------------ */
.navba{
    &r__footer__logo{
        width: clamp(150px, 89%,200px);
        
    }
    &__newsletter {
    padding: 1rem 0rem 1rem 0rem;}
}