/* --------- Media Queries ---------- */

@media screen  and (max-width:1400px){
    .seccion__principal{
           
            
            &__text{
                
                margin: 0px 0px 0px 100px;

                }
        
            }
    }

    @media screen  and (max-width: 1300px){
        .propuesta{
            &__icono{
    
        
            }
            &__mision{
    
                margin: 80px 50px 80px 50px;
            }
        }
    }

@media screen  and (max-width: 1000px){
    .seccion__contacto{
        background-color: #eeecf8;
    
        padding: 25px 50px 0px 50px;
    }
    .pasos{
        &__seccion{
            flex-direction: column;
            align-items: center;
        }
    }
    
}


@media screen  and (max-width: 992px){
    .footer{
    &__img{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
        margin: 0%;
        padding-right: 60px;
    }
    &__newsletter{
        justify-content: center;

    }

    &__menu__icon{
        margin: 10px 0px 20px 0px;
    }
    &__mar_zero{
        padding: 0;
        
    }
    .costos{
        &__tarjeta__incluye h4{
            width: 100%;

        }
        &___tarjeta__base{
            width: 100%;
        }
    }
}
}

@media screen  and (max-width: 900px){
    .contacto{


        &__text{
            
            padding: 0px 0px 0px 5rem;
            
        }
    }
    .seccion{
        &__principal{
            padding: 0px 15px 0px 15px;
            &__img{
                img{
                    width: 350px;
                }
                display: flex;
                justify-content: center;                
            }

        }
    }
}



@media screen  and (max-width: 800px){
    .ejemplo{
        &__base{
            flex-direction: column;
            align-items: center;
            margin: 35px 3rem 35px 3rem;
            h2{
                padding-bottom: 15px;
            }
            h4{
                padding-bottom: 15px;
            }
            &__imagen{
                margin:  0px;
                max-width: 450px;
        
        }
        
        }

    }
    .contacto{
        &__encuentranos{
            text-align: center;
            

        }
    }
}

@media screen  and (max-width: 700px){
    .contacto{
        &__conoce{
            &__datos{
                align-items: center;
                input{
                    text-align: center;
                    width: 350px;
    
                     }
                    textarea{
                        text-align: center;
                        width: 350px;

                    }
                
            }

    
            &__botones{
    
            }
        }

    }

}

@media screen  and (max-width: 600px){
    .seccion__principal{
            &__text{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                max-width: 450px;
                margin: 0px 0px 0px 0px;
                color: #ffffff;
                h2{
                    max-width: 250px;
                    margin: 0px;
                    
                }
                p{
                    max-width: 250px;
                    
                }
        
            }
            &__img{
                max-width: 250px;
                padding: 2rem 0rem 2rem 0rem;
                img{
                    max-width: 250px;
                }
            }
            &_principal__img__costos{
                max-width: 450px;
                align-items: end;
            }
            
        }
    .costos{
        flex-direction: column;
        align-items: center;
    

    &__tarjeta{
        align-items: center;
    }
    &__tarjeta__incluye{
        padding: 0rem;
        
    }
    &__tarjeta__dimension{
        display: flex;
        align-items: center;
        
    }
    &__detalle{
        margin: 10px;
        padding: 5px;
    }
    &__demo__base{
        flex-direction: column;       
    }
    &__demo__h5{
        margin: 15px;
    }
}


}

@media screen  and (max-width: 550px){
    .ejemplo{
        &__base{
            padding: 20px;
            margin: 0px;
            align-items: center;

        &__imagen{
            margin:  0px;
            max-width: 250px;
    
                }
        }
        h2{
            padding: 20px;
        }
        h4{
            padding-bottom: 15px;
        }

    
    
    }
}

@media screen  and (max-width: 400px){
    .ejemplo{
        &__base{

            &__imagen{
                margin:  0px;
                max-width: 300px;
        
        }
        
        }

    }


    .flex__nav{
        flex-direction: column;
        
        
    }
    .navbar{
    &__menu__icon{
        margin: 10px 0px 35px 0px;
    }
    &__menu__logo{
        margin: 20px;
    }
    }

    .costos{
        
       
        &___tarjeta__incluye{
            width: 100%;
            padding: 5px;
        }
        &__tarjeta__base{
            padding: 5px;
        }
    }
    .solicitar{
            &__demo__base{
                flex-direction: column;
                .btn{
                    margin-top: 10px;
                }
            }
    }

    .contacto{
        &__conoce{
            &__datos{
                padding: 0px 10px 0px 10px;

                
                input{
                    text-align: center;
                    width: 200px;
    
                     }
                    textarea{
                        text-align: center;
                        width: 200px;

                    }
                
            }

    
            &__botones{
    
            }
        }
    }
    


}