/* ---------------- Solicitar tu demo */
.solicitar{
    &__demo__base{
    align-items: center;
    padding: 15px;
    margin: 10px 0px 10px 0px ;
}
    &__demo__h5{
        text-align: center;
        margin: 0px;
        font-size: 2rem;
    }

}