/* importamos fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

:root {

    --primary:rgba(130, 118, 218, 1);
    --secondary:#FF5376;
    --alternative:#302F4D;
    --text-color:#1a1a1a;
    --text-white: #ffffff;
    --gradiente: linear-gradient(to right, rgba(130, 118, 218, 1), rgba(105, 88, 222, 1));
 
    --spacing-large:6rem;
    --spacing-medium:2,4rem;
    --spacing-small:2rem;
    --spacing-xsmall:1rem;
    
    /*Font-family*/
    font-family: 'Roboto', sans-serif;

    /*Font-Sizes*/
    --text-large:5.2em;
    --text-medium:2.2em;
    --text-base:1.6em;
    --text-small:1.4em;
}
/* 
*::after
*::before
 */


/* empezamos limpiando todo a cero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* helpers */

.container {
    margin: 0 auto;
    max-width: 1080px;
}

html{
    font-size: 62.5%;
}



h1 {
    font-size: var(--text-large);
}

h2 {
    font-size: var(--text-large);
}

h3 {
    font-size: 40;
}

h4 {
    font-size: 35px;
}

h5 {
    font-size: 25px;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;

}

nav {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgba(130, 118, 218, 1), rgba(105, 88, 222, 1));
    align-items: center;
    width: 100%;
}

/* logo con su tamaña máximo */
picture img {
    width: clamp(150px, 30%, 250px);
    margin-left: 35px;
}

.header {
    display: flex;

}

.menu {
    display: flex;
    /* sacamos el estilo al menu */
    list-style: none;

    justify-content: space-around;
    /* di ancho al menú */
    width: clamp(80%, 20%, 100%);
    padding-right: 5rem;
}

/* Doy formato a los menu */
.menu__item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px 5px 0px 5px ;
}


/* ----------- Sección principal */
.seccion__principal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 7rem;
    padding-left: 7rem;
    max-height: 550px;
    background-image: linear-gradient(to right, rgba(130, 118, 218, 1), rgba(105, 88, 222, 1));
  
    }
.seccion__principal h2{
    text-decoration: none;
    width: clamp(300px, 10%, 450px);
    color: white;
    font-size: var(--text-large);
}
.seccion__principal h4 {
    text-decoration: none;
    width: clamp(300px, 10%, 450px);
    color: white;
    font-size: var(--text-medium);
}



.seccion__principal article {
    width: 35%;
}

.seccion__principal img {
    height: clamp(250px, 30%, 450px);
    width: clamp(300px, 30%, 550px);
    object-position: right;
}

/* Sección pasos */

.pasos {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-evenly;
    align-items: baseline;

    background-color: rgba(138, 118, 204, 0.14);
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 10rem;
    padding-left: 10rem;

    /* margin-top: 35px; */
    margin-bottom: 35px;
    text-align: center;

}
.pasos article {
    padding: 0px 5px 0px 5px;
}

.pasos img {
    width: clamp(100px, 50%, 220px);
    margin-bottom: 3rem;

}


.pasos p, h5{
    max-width: 100;
    text-align: center;
    color: rgba(71, 71, 71, 1);
    font-size: var(--text-small);
    align-items: center;
}

/* ----------- Sección pasos */


.index__venta article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5rem 0px 5rem 0px;
/*     margin-top: 1.5rem;
    margin-bottom: 1.5rem; */


    
}

.index__venta_texto h2{
    display: flex;
    flex-direction: column;
    width: clamp(300px, 90%, 450px);
    font-size: var(--text-large);
    text-align: justify;
    padding: 0px 3rem 0px 3rem;
    
}
.index__venta_texto h5{
    font-size: var(--text-medium);

    width: 400px;
    text-align: justify;
    padding: 0px 3rem 0px 3rem;
    
}

.index__venta img {
    align-items: center;
    max-height: clamp(350px, 30%, 600px);;
    max-width: clamp(350px, 30%, 600px);;
    padding: 100;
    
}

/*------------------COSTOS           */
.costos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 5rem;

}

.costos__mensual{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 1rem;
    background-image: var(--gradiente);
    border-radius: 5px;
    font-size: 30px;
    color: var(--text-white);
    text-align: center;
    height: 25vh;
    padding: 1em;

    
    }

.costos__anual{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 1rem;
    background-image: var(--gradiente);
    border-radius: 5px;
    font-size: 30px;
    color: var(--text-white);
    text-align: center;
    height: 25vh;
    padding: 1em;
    }

.costos__detalle{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    margin: 1rem;
    background-image: var(--gradiente);
    border-radius: 5px;
    width: 35vw;
    color: var(--text-white);
    text-align: justify;
    padding: 3em;
}

.costos__detalle ul {
    list-style: none;
    text-align: left;
    font-size: 20px;
    padding: 10px 0px 0px 0px;
}

.contacta{
    display: flex;
    background-image: var(--gradiente);
    border-radius: 5px;
    margin: 5rem 15rem 5rem 15rem ;
    height: 5rem;
    align-items: center;
    color: white;
    justify-content: space-around;
}

.contacta h3{
    font-size: 20px;
}

.contacta button{
    border: 0px;
    height: 3rem;
    width: 15rem;
}

/* ----------- Sección footer */
.footer__flex {
    /*     display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 3rem; */
    display: grid;
    grid-template-columns: 30% 35% 35%;

    background-image: linear-gradient(to right, rgba(130, 118, 218, 1), rgba(105, 88, 222, 1));
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;    
}
.footer__flex img {
    width: clamp(300px, 10%, 450px);
    height: auto;
    align-items: center;
    padding-left: 25%;
}
.footer__flex ul, a {
    display: flex;
    flex-direction: column;    
    list-style: none;
    text-decoration: none;
    text-align: center;
    gap: 5px;
    color: rgb(252, 252, 252);
    font-size: 18px;
}

.footer__newsletter h4, h6{
    display: flex;
    flex-direction: column;
    padding-right: 25%;
    text-align: left;
    color: rgb(252, 252, 252);
    font-size: 18px;
    padding-bottom: 5px;
}

.footer__newsletter input {
    margin-right: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    width: clamp(250px, 30%, 350px);
    height: 30px;
    color: white;
    border: none;
    justify-content: start;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
}

.footer__newsletter button {
    width: clamp(70px, 30%, 150px);
    border: none;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;    
}

.footer__derechos {
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, rgba(130, 118, 218, 1), rgba(105, 88, 222, 1));
    padding: 10px;
}

@media screen and (max-width: 900px){
    .menu{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 800px){
    .costos{
        grid-template-columns: 1fr;
        grid-template-rows: 15% 15% 70%;
        margin: 20px;
        align-content: space-around;
        gap: 10px;
        

    
    }
    .costos__mensual{
        grid-column-start: 1;
        grid-column-end: 2;        
        grid-row-start: 1;
        grid-row-end: 2;
/*         margin: 5px;
        padding: 5px; */
        height: 10vh;
        width: 98%;
  
        }
    
    .costos__anual{
        grid-column-start: 1;
        grid-column-end: 2;   
        grid-row-start: 2;
        grid-row-end: 3;
/*         margin: 5px;
        padding: 5px; */
        height: 10vh;
        width: 98%;
        }
    
    .costos__detalle{
        grid-column-start: 1;
        grid-column-end: 2;        
        grid-row-start: 3;
        grid-row-end: 4;
/*         margin: 5px;
        padding: 5px; */
        height: 32rem;
        width: 98%;
        text-align: justify;
        }


    .contacta{
        flex-direction: column;
        height: 10vh;
        padding: 2rem;
        text-align: center;
        }
    .contacta button{
        border: 0px;
        border-radius: 5px;
    }



    
}

@media screen and (max-width: 768px){
    picture img {
        width: clamp(150px, 30%, 250px);
        margin-left: 30px;
    }
    
    .index__venta article{
        flex-direction: column;
        align-items: center;}
    
    .index__venta_texto{
        width: 400px;
    }
    

    .footer__flex img {
    width: clamp(100px, 90%, 350px);
   }
    
}

@media screen and (max-width: 650px){

    .seccion__principal {
        display: grid;
        width: 100vw;
        align-items: center;
    }
    .seccion__principal  h2, h4{
        margin: 0%;
        padding: 0px;
        box-sizing: border-box;
        align-items: center;
        text-align: center;
    }
    .footer__newsletter h4{
        padding: 0%;
        text-align: left;
        align-items: flex-start;

    }
    .seccion__principal img{
        height: auto;
    }
}
@media screen and (max-width: 560px){
    nav{
        display: flex;
        flex-direction: column;
    }
    picture {
        display: flex;
        justify-content: center;
        margin-left: 0%;
        padding: 25px;
    }
    .menu{
        padding: 10px;
        justify-content: center;
    }
    .index__venta_texto{
        width: clamp(50px, 50%, 150px);
    }
    
    .index__venta_texto h2{
        width: clamp(50px, 50%, 150px);}

    .index__venta_texto h5{
        width: clamp(50px, 50%, 150px);}
    .index__venta img {
        width: clamp(50px, 50%, 150px);}

    .pasos{
        grid-auto-flow: row;
        grid-template-rows: repeat(3, 33%), auto;
        padding: 10px 0px 25px 0px;
       
    }
    .pasos .articulo:nth-child(1){
        padding: 10px 0px 5px 0px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .pasos .articulo:nth-child(2){
        padding: 10px 0px 5px 0px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .pasos .articulo:nth-child(3){
        padding: 10px 0px 5px 0px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

  
    .index__venta_texto {
        width: clamp(50px, 90%, 300px);
    }
    
    .index__venta_texto h2{
        margin: 10px 0px 10px 0px;
        padding: 0px;
        width: clamp(50px, 90%, 300px);}

    .index__venta_texto h5{
        margin: 10px 0px 10px 0px;
        padding: 0px;
        width: clamp(50px, 90%, 300px);}
            
    .index__venta img {
        width: clamp(50px, 90%, 300px);
        margin: 10px 0px 10px 0px;}

    
    .costos__detalle{
        height: 45vh;

    }

    .contacta{
        margin: 25px;


        
    }

    .contacta h3{
        height: 15vh;
        font-size: 15px;

        }
    .contacta button{
        height: 35px;
        border-radius: 3px;
    }
    
    
}
@media screen and (max-width: 480px){
    .footer__flex{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
    }
    .footer__flex img{
        padding: 0%;
    }

}

@media screen and (max-width: 380px){
    .seccion__principal{
        width: auto;
    }
    .seccion__principal h2{
        width: 25vh;
        font-size: 35px;
    }
    .seccion__principal h4{
        width: 25vh;
        font-size: var(--text-small);
    }
    .seccion__principal img{
        width: 25vh;
        height: auto;
    }
    .index__venta_texto h2{
        font-size: 35px;
    }
    .index__venta_texto h4{
        font-size: var(--spacing-xsmall);
    }
    .footer__newsletter{ 
        width: 70vw;
    }

    .costos__detalle{
        height: 55vh;
    }

    .costos__mensual{
        width: 80vw;
        font-size: 25px;
  
        }
    
    .costos__anual{
        width: 80vw;
        font-size: 25px;
        }
    
    .costos__detalle{
        width: 80vw;
        height: 60vh;


        }
    .costos__detalle h2{
        font-size: 25px;
    }


}
    
    
    
