/*Font-Sizes*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800&display=swap");
.max__w450 {
  max-width: 450px; }

.max__w250 {
  max-width: 250px; }

.max__w150 {
  max-width: 150px; }

.max__h450 {
  max-height: 450px; }

.max__h250 {
  max-height: 250px; }

.max__h250 {
  min-height: 250px; }

.min__w250 {
  min-width: 250px; }

.min__w450 {
  min-width: 450px; }

.degradez {
  background-image: linear-gradient(to right, #8276da, #6958de);
  border: 0px; }

.fondo {
  background-color: #1e17df; }

.color__blanco {
  color: #ffffff; }

.fondo_blanco {
  background-color: #ffffff; }

.color__primario {
  color: #302F4D; }

.fuente__negra {
  color: #1a1a1a; }

.contacto__conoce {
  display: flex;
  justify-content: space-around;
  padding: none; }
  .contacto__conoce__base {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 0px 0px 0px;
    text-align: start; }
    .contacto__conoce__base__texto {
      align-items: center; }
    .contacto__conoce__base__imag {
      width: 450px; }
  .contacto__conoce__datos {
    display: flex;
    flex-direction: column;
    padding: 0px 2rem 0px 2rem;
    max-width: 350px; }
    .contacto__conoce__datos input {
      border: none;
      width: 250px;
      background-color: #ffffff;
      height: 45px;
      border-radius: 5px;
      margin: 5px;
      text-align: none;
      color: #000000; }
    .contacto__conoce__datos textarea {
      border: none;
      background-color: #ffffff;
      width: 250px;
      border-radius: 5px;
      margin: 5px;
      height: 100px; }
    .contacto__conoce__datos__boton {
      /* text-align: center;
            color: #ffffff; */
      max-width: 150px; }

.contacto__text {
  max-width: 550px;
  padding: 0px 0px 0px 22rem;
  color: #000000; }

.seccion__contacto {
  background-color: #eeecf8;
  padding: 25px 200px 0px 200px; }

/* --------- pasos-------------*/
.pasos {
  padding: 5rem;
  background-color: #eeecf8; }
  .pasos__seccion {
    display: flex;
    flex-direction: row; }
    .pasos__seccion h2 {
      font-size: 3rem;
      margin: 1rem 0rem 1rem 0rem; }
    .pasos__seccion p {
      font-size: 1.5rem; }
  .pasos_items {
    padding: 2rem 0rem 2rem 0rem; }

.seccion_principal__img__costos {
  width: 50wv;
  min-width: 100px;
  max-width: 450px; }

.costos {
  max-width: auto; }
  .costos__tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px; }
  .costos__tarjeta__dimension {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 15vh;
    max-width: 500px;
    border-radius: 15px; }
  .costos__tarjeta__mensual {
    text-align: center;
    margin: 15px;
    align-content: center; }
  .costos__font_size__h3 {
    font-size: 4rem; }
  .costos__font_size__h5 {
    font-size: 2rem; }
  .costos__tarjeta__anual {
    text-align: center;
    margin: 15px; }
  .costos__tarjeta__incluye {
    width: auto;
    text-align: center;
    align-items: center;
    padding: 25px;
    border-radius: 15px;
    margin: 0%; }
  .costos h4 {
    max-width: 250px;
    text-align: center;
    font-size: 5rem; }
  .costos li {
    list-style: none;
    font-size: 2rem;
    max-width: 350px;
    text-align: start; }
  .costos__tarjeta__incluye h4 {
    width: 100%;
    height: 100%;
    text-align: center; }
  .costos__tarjeta__base {
    border: none;
    width: auto;
    height: 100%;
    margin: 0%;
    padding: 0px; }

.ejemplo__base {
  margin: 35px 0px 35px 0px;
  text-align: start;
  display: flex;
  width: 100%;
  padding: 0px;
  flex-direction: row;
  align-items: center; }
  .ejemplo__base__imagen {
    width: clamp(450px, 400px, 500px);
    padding: 0px 2rem 0px 2rem;
    align-items: center;
    max-width: 450px; }
  .ejemplo__base h2 {
    max-width: 450px; }
  .ejemplo__base h4 {
    max-width: 450px;
    font-size: 25px; }

.propuesta__icono {
  height: 100px; }

.propuesta__mision {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-image: linear-gradient(to right, #8276da, #6958de);
  border-radius: 15px;
  padding: 3rem;
  margin: 100px 250px 80px 250px;
  color: white; }
  .propuesta__mision h4 {
    font-size: 4rem; }
  .propuesta__mision p {
    font-size: 2rem;
    padding: 0; }

.footer {
  background-color: var(--text-white);
  color: var(--alternative);
  max-width: 100px; }
  .footer__derechos {
    font-size: small;
    padding: 1rem;
    margin: 0px; }
  .footer__boton {
    border: 0px;
    max-width: 170px;
    color: #302F4D;
    font-weight: 600; }

/* ------------ footer------------ */
.navbar__footer__logo {
  width: clamp(150px, 89%, 200px); }

.navba__newsletter {
  padding: 1rem 0rem 1rem 0rem; }

.navbar__menu__item {
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  font-size: 20px; }

.navbar__menu__item:hover {
  color: var(--alternative);
  background-color: white;
  border-radius: 1px;
  color: #7f73db; }

.navbar__menu__logo {
  width: clamp(150px, 89%, 200px); }

.navbar__menu__icon {
  /* Da color al icono */
  border-color: var(--text-white);
  background-color: #ffffff; }

.btn {
  text-align: center;
  color: var(#302F4D);
  background-color: white;
  margin: 0px;
  font-size: 15px; }

.seccion__principal {
  /*     height: 80wv; */
  min-height: 250px;
  max-height: 650px;
  /* margin-right: 100px; */ }
  .seccion__principal__fondo {
    /* clip-path: polygon(100% 0, 100% 90%, 65% 100%, 0 90%, 0 0); */ }
  .seccion__principal__text {
    max-width: 450px;
    margin: 0px 0px 0px 250px;
    color: #ffffff; }
    .seccion__principal__text h1 {
      max-width: 350px;
      font-size: 50px; }
    .seccion__principal__text p {
      max-width: 350px; }
  .seccion__principal__index {
    max-width: 450px; }
    .seccion__principal__index p, .seccion__principal__index h2 {
      max-width: auto; }
  .seccion__principal__img {
    max-width: 450px;
    padding: 2rem 0rem 2rem 0rem; }
    .seccion__principal__img img {
      max-width: 450px; }
  .seccion__principal_principal__img__costos {
    max-width: 450px;
    align-items: end; }

/* ---------------- Solicitar tu demo */
.solicitar__demo__base {
  align-items: center;
  padding: 15px;
  margin: 10px 0px 10px 0px; }

.solicitar__demo__h5 {
  text-align: center;
  margin: 0px;
  font-size: 2rem; }

*::after
*::before
A
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* helpers */
html {
  font-size: 62.5%;
  background-color: #ffffff;
  padding: 0; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 4rem; }

h4 {
  font-size: 3rem; }

h6 {
  font-size: 1.5rem; }

p {
  font-size: 18px;
  font-weight: 400; }

@media screen and (max-width: 1400px) {
  .seccion__principal__text {
    margin: 0px 0px 0px 100px; } }

@media screen and (max-width: 1300px) {
  .propuesta__mision {
    margin: 80px 50px 80px 50px; } }

@media screen and (max-width: 1000px) {
  .seccion__contacto {
    background-color: #eeecf8;
    padding: 25px 50px 0px 50px; } }

@media screen and (max-width: 992px) {
  .footer__img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    padding-right: 60px; }
  .footer__newsletter {
    justify-content: center; }
  .footer__menu__icon {
    margin: 10px 0px 20px 0px; }
  .footer__mar_zero {
    padding: 0; }
  .footer .costos__tarjeta__incluye h4 {
    width: 100%; }
  .footer .costos___tarjeta__base {
    width: 100%; } }

@media screen and (max-width: 900px) {
  .contacto__text {
    padding: 0px 0px 0px 5rem; } }

@media screen and (max-width: 800px) {
  .ejemplo__base {
    flex-direction: column;
    align-items: center;
    margin: 35px 3rem 35px 3rem; }
    .ejemplo__base h2 {
      padding-bottom: 15px; }
    .ejemplo__base h4 {
      padding-bottom: 15px; }
    .ejemplo__base__imagen {
      margin: 0px;
      max-width: 450px; } }

@media screen and (max-width: 700px) {
  .contacto__conoce__datos {
    align-items: center; }
    .contacto__conoce__datos input {
      text-align: center;
      width: 350px; }
    .contacto__conoce__datos textarea {
      text-align: center;
      width: 350px; } }

@media screen and (max-width: 600px) {
  .seccion__principal__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 450px;
    margin: 0px 0px 0px 0px;
    color: #ffffff; }
    .seccion__principal__text h2 {
      max-width: 250px;
      margin: 0px; }
    .seccion__principal__text p {
      max-width: 250px; }
  .seccion__principal__img {
    max-width: 250px;
    padding: 2rem 0rem 2rem 0rem; }
    .seccion__principal__img img {
      max-width: 250px; }
  .seccion__principal_principal__img__costos {
    max-width: 450px;
    align-items: end; }
  .costos {
    flex-direction: column;
    align-items: center; }
    .costos__tarjeta {
      align-items: center; }
    .costos__tarjeta__incluye {
      padding: 0rem; }
    .costos__tarjeta__dimension {
      display: flex;
      align-items: center; }
    .costos__detalle {
      margin: 10px;
      padding: 5px; }
    .costos__demo__base {
      flex-direction: column; }
    .costos__demo__h5 {
      margin: 15px; } }

@media screen and (max-width: 550px) {
  .ejemplo__base {
    padding: 20px;
    margin: 0px;
    align-items: center; }
    .ejemplo__base__imagen {
      margin: 0px;
      max-width: 250px; }
  .ejemplo h2 {
    padding: 20px; }
  .ejemplo h4 {
    padding-bottom: 15px; } }

@media screen and (max-width: 400px) {
  .ejemplo__base__imagen {
    margin: 0px;
    max-width: 300px; }
  .flex__nav {
    flex-direction: column; }
  .navbar__menu__icon {
    margin: 10px 0px 35px 0px; }
  .navbar__menu__logo {
    margin: 20px; }
  .costos___tarjeta__incluye {
    width: 100%;
    padding: 5px; }
  .costos__tarjeta__base {
    padding: 5px; }
  .solicitar__demo__base {
    flex-direction: column; }
  .contacto__conoce__datos {
    padding: 0px 10px 0px 10px; }
    .contacto__conoce__datos input {
      text-align: center;
      width: 200px; }
    .contacto__conoce__datos textarea {
      text-align: center;
      width: 200px; } }
