/* --------- Página de contacto ---------- */

.contacto{
    &__conoce{
        display: flex;
        
        justify-content: space-around;
        
        padding: none;
        

        
        &__base{
            display: flex;
            flex-direction: row-reverse;
            margin: 0px 0px 0px 0px;
            text-align: start;
            
            &__texto{
                align-items: center;

            }
            &__imag{ width: 450px;
                
            }

        }
    &__datos{
        display: flex;
        flex-direction: column;
        padding: 0px 2rem 0px 2rem;
        max-width: 350px;

        &__info{
            border: none;
            width: none;
            background-color: #ffffff;
            height: 45px;
            border-radius: 5px;
            margin: 5px;
            padding-left: 15px;
            text-align: none;
            color: #000000;
            font-size: $text-small;

        }


        &__boton{
            border: none;
            width: none;
            background-color: #ffffff;
            height: 45px;
            border-radius: 5px;
            margin: 5px;
            text-align: center;
            font-size: $text-small;
            max-width: 150px;           

        }
        &__boton:hover{
            max-width: 150px;
            background-image: $gradiente;
            color: #ffffff;

        }
    }
    }
    &__text{
        max-width: 550px;
        padding: 0px 0px 0px 22rem;
        color: #000000;

    }
    &__encuentranos{

        max-width: 350px;
        padding: 0px 0px 0px 0rem;
        color: #000000;
        
        
        a{
            text-decoration: none;
            font-size: $text-medium;
            color: #000000;
            margin-bottom: 20px;
        }
        h2{
            margin-bottom: 15px;
            margin-top: 15px;
        }
        &__img{
            max-height: 350px;
            transform: rotateY(180deg);
        }
    }
}

.seccion{
    &__contacto{
    background-color: #eeecf8;

    padding: 25px 200px 0px 200px;
}

}

.googlemap{
    width: 100vw;
    height: 450px;
    border: 0;
    margin: 0;
    padding: 0;
    
}
