.contacto{
    &__conoce{
        display: flex;
        
        justify-content: space-around;
        
        padding: none;
        

        
        &__base{
            display: flex;
            flex-direction: row-reverse;
            margin: 0px 0px 0px 0px;
            text-align: start;
            
            &__texto{
                align-items: center;

            }
            &__imag{ width: 450px;
                
            }

        }
    &__datos{
        display: flex;
        flex-direction: column;
        padding: 0px 2rem 0px 2rem;
        max-width: 350px;

        input{
            border: none;
            width: 250px;
            background-color: #ffffff;
            height: 45px;
            border-radius: 5px;
            margin: 5px;
            text-align: none;
            color: #000000;

        }
        textarea{
            border: none;
            background-color: #ffffff;
            width: 250px;
            border-radius: 5px;
            margin: 5px;
            height: 100px;
        }

        &__boton{
            /* text-align: center;
            color: #ffffff; */
            max-width: 150px;

        }
    }
    }
    &__text{
        max-width: 550px;
        padding: 0px 0px 0px 22rem;
        color: #000000;
    }
    
}

.seccion__contacto{
    background-color: #eeecf8;

    padding: 25px 200px 0px 200px;
}
