



    
    /* --------- pasos-------------*/


.pasos{
    padding: 5rem;    
    background-color: #eeecf8;

    &__seccion{

        @include dflex-row;

        h2{
        font-size: 3rem;
        margin: 1rem 0rem 1rem 0rem;
        }
            

        p{
            font-size: 1.5rem;
        }
    }

    &_items{
        padding: 2rem 0rem 2rem 0rem;
    }


}

       